<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connexion</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Connexion</h1>

    <form (ngSubmit)="onFormValidate()">
      <ion-item>
        <ion-label position="floating">Identifiant</ion-label>
        <ion-input type="text" [(ngModel)]="loginInfo.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="loginInfo.password" name="password"></ion-input>
      </ion-item>

      <ion-button class="btn-submit" type="submit" [disabled]="!loginInfo.username || loginInfo.password.length < 3">
        Valider</ion-button>
    </form>
  </div>
</ion-content>